<template>
  <span> <img :src="thiscat.text" @click="onCatClick" /> </span>
</template>

<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    thiscat: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    onCatClick() {
      this.$emit('cat-click', this.thiscat.id)
    }
  }
})
</script>
