<template>
  <div class="CartSnap">
    <p>
      Cat Snap!
      <br />
      Your emoji is:
      <CatEmoji :thiscat="catList[yourCatIdx]" />
      <br />
      Which is snap?<br />
      <CatEmoji
        :thiscat="catList[randCats[0]]"
        @cat-click="checkIsCat($event)"
      />
      <CatEmoji
        :thiscat="catList[randCats[1]]"
        @cat-click="checkIsCat($event)"
      />
      <CatEmoji
        :thiscat="catList[randCats[2]]"
        @cat-click="checkIsCat($event)"
      />
      <button>Not There</button>
    </p>
  </div>
</template>

<script>
import Vue from 'vue'
import CatEmoji from '~/components/CatEmoji.vue'

export default Vue.extend({
  components: {
    CatEmoji
  },
  data() {
    return {
      yourCatIdx: Math.floor(Math.random() * 9),
      randCats: [
        Math.floor(Math.random() * 9),
        Math.floor(Math.random() * 9),
        Math.floor(Math.random() * 9)
      ],
      catList: [
        { id: 0, text: require('../assets/emojis/cat--smile.png') },
        { id: 1, text: require('../assets/emojis/cat--cheer.png') },
        { id: 2, text: require('../assets/emojis/cat--laugh.png') },
        { id: 3, text: require('../assets/emojis/cat--love.png') },
        { id: 4, text: require('../assets/emojis/cat--smirk.png') },
        { id: 5, text: require('../assets/emojis/cat--kiss.png') },
        { id: 6, text: require('../assets/emojis/cat--fear.png') },
        { id: 7, text: require('../assets/emojis/cat--sad.png') },
        { id: 8, text: require('../assets/emojis/cat--mad.png') }
      ]
    }
  },
  methods: {
    checkIsCat(event) {
      alert('Hello  ' + event)
    }
  }
})
</script>
