<template>
  <v-app dark>
    <v-app-bar fixed app />
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      title: 'emojisnap'
    }
  }
}
</script>
