<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-xs-center">
        This is the header
      </div>
      <v-card>
        <v-card-title class="headline">
          Welcome to Cat Snap!
        </v-card-title>
        <v-card-text>
          <Instructions />
          <CatSnap />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Instructions from '~/components/Instructions.vue'
import CatSnap from '~/components/CatSnap.vue'

export default {
  components: {
    Instructions,
    CatSnap
  }
}
</script>
